<div class="zx-adv-header-mainnav">
			<ul class="zx-adv-header-mainnav">
				<li class=""></li>
				
				
				
				<li class="mainnavitem"><a class="mainnavitem mainnavitem-active" href="#/dashboard">Dashboard</a></li>
				<li class="mainnavitem mainnavitem-hassubs">
					<div>
						<div>
							<a class="mainnavitem mainnavitem-hassubs mainnavitem-inactive" href="#/profile">Profile</a>
						</div>
						<div class="sub-mainnavitem-1-container">
							<ul class="sub-mainnavitem-1-first">
								<li class="sub-mainnavitem-1 sub-mainnavitem-1-hassubs"><div
										class="sub-mainnavitem-1 sub-mainnavitem-1-hassubs">Profil</div></li>
								<li class="">
									<ul class="sub-mainnavitem-2">
										<li class="sub-mainnavitem-2 sub-mainnavitem-2-nosubs"><a
											class="sub-mainnavitem-2 sub-mainnavitem-2-nosubs" href="#/adspace/">Meine Werbeflächen</a></li>
										<li class="sub-mainnavitem-2 sub-mainnavitem-2-nosubs"><a
											class="sub-mainnavitem-2 sub-mainnavitem-2-nosubs" href="#/balance">Balance</a></li>
										<li class="sub-mainnavitem-2 sub-mainnavitem-2-nosubs"><a
											class="sub-mainnavitem-2 sub-mainnavitem-2-nosubs" href="#/account">Account</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="mainnavitem mainnavitem-hassubs">
					<div>
						<div>
							<a class="mainnavitem mainnavitem-hassubs mainnavitem-inactive" href="#/products">Programme</a>
						</div>
						<div class="sub-mainnavitem-1-container">
							<ul class="sub-mainnavitem-1-first">
								<li class="sub-mainnavitem-1 sub-mainnavitem-1-hassubs"><div
										class="sub-mainnavitem-1 sub-mainnavitem-1-hassubs">Programme</div></li>
								<li class="">
									<ul class="sub-mainnavitem-2">
										<li class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2 subMenuSpacerRight-nosubs"><a
											class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2-nosubs" href="#/programapplication">Meine
												Programme</a></li>
										<li class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2 subMenuSpacerRight-nosubs"><a
											class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2-nosubs"
											href="https://marketplace.zanox.com/zanox/affiliate/446028/merchant-directory/index/tab/closed?connectid=F78BD644A51B90AB43FC">Geschlossene
												Programme</a></li>
										<li class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2 subMenuSpacerRight-nosubs"><a
											class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2-nosubs"
											href="https://marketplace.zanox.com/zanox/affiliate/446028/merchant-directory/index/tab/notJoined?connectid=F78BD644A51B90AB43FC">Nicht
												beworbene Programme</a></li>
										<li class="sub-mainnavitem-2 sub-mainnavitem-2-nosubs"><a
											class="sub-mainnavitem-2 sub-mainnavitem-2-nosubs"
											href="https://auth.zanox.com/login?connectid=F78BD644A51B90AB43FC&amp;appid=0EC8CDE4B4C95801E803&amp;dest=myPrograms&amp;publisher=446028">Programme
												"classic"</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="mainnavitem mainnavitem-hassubs">
					<div>
						<div>
							<a class="mainnavitem mainnavitem-hassubs mainnavitem-inactive"
								href="http://publisher.zanox.com/publisherdashboard/zxapp_darwin_startpage/app?authtoken=F377C9A4400B6B1558675BE49139D99F4DD45C944DDB7FCAA46D9BE4D872F142&amp;dest=dashboard&amp;publisher=446028">Links
								&amp; Tools</a>
						</div>
						<div class="sub-mainnavitem-1-container">
							<ul class="sub-mainnavitem-1-first">
								<li class="sub-mainnavitem-1-first sub-mainnavitem-1-first-hassubs">
									<div class="sub-mainnavitem-1-first sub-mainnavitem-1-first-hassubs">Web Services APIs</div>
								</li>
								<li class="">
									<ul class="sub-mainnavitem-2">
										<li class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2 subMenuSpacerRight-nosubs"><a
											class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2-nosubs"
											href="https://publisher.zanox.com/ws_gettingstarted/landingpage.html?connectid=F78BD644A51B90AB43FC&amp;publisher=446028">Erste
												Schritte</a></li>
										<li class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2 subMenuSpacerRight-nosubs"><a
											class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2-nosubs"
											href="http://wiki.zanox.com/en/Web_Services?connectid=F78BD644A51B90AB43FC" target="_blank">Web Services
												Wiki</a></li>
										<li class="sub-mainnavitem-2 sub-mainnavitem-2-nosubs"><a
											class="sub-mainnavitem-2 sub-mainnavitem-2-nosubs"
											href="https://apps.zanox.com?connectid=F78BD644A51B90AB43FC" target="_blank">Application Store</a></li>
									</ul>
								</li>
							</ul>
							<ul class="sub-mainnavitem-1-second">
								<li class="sub-mainnavitem-1-second sub-mainnavitem-1-second-hassubs"><div
										class="sub-mainnavitem-1-second sub-mainnavitem-1-second-hassubs">Links</div></li>
								<li class="">
									<ul class="sub-mainnavitem-2">
										<li class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2 subMenuSpacerRight-nosubs"><a
											class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2-nosubs"
											href="https://publisher.zanox.com/addeliverydashboard/dashboard/app?connectid=F78BD644A51B90AB43FC&amp;publisher=446028">Ad
												Delivery </a></li>
										<li class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2 subMenuSpacerRight-nosubs"><a
											class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2-nosubs"
											href="https://publisher.zanox.com/create_feeds/landingpage.html?connectid=F78BD644A51B90AB43FC&amp;publisher=446028">Produkte
												&amp; Gutscheine</a></li>
										<li class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2 subMenuSpacerRight-nosubs"><a
											class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2-nosubs"
											href="https://publisher.zanox.com/check_partnercode/landingpage.html?connectid=F78BD644A51B90AB43FC&amp;publisher=446028">Trackinglinks
												prüfen</a></li>
										<li class="sub-mainnavitem-2 sub-mainnavitem-2-nosubs"><a
											class="sub-mainnavitem-2 sub-mainnavitem-2-nosubs"
											href="https://publisher.zanox.com/sharedtracking/sharedtracking/app?connectid=F78BD644A51B90AB43FC&amp;publisher=446028">Shared
												Tracking</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="mainnavitem mainnavitem-hassubs mainnavitem-last">
					<div>
						<div>
							<img class="zx-adv-header-mainnav-img" style="display: none;"><a
								class="mainnavitem mainnavitem-hassubs mainnavitem-inactive" href="#/report">Reports (Highchart)</a>
						</div>
						<div class="sub-mainnavitem-1-container sub-mainnavitem-1-container-mainnavitem-last">
							<ul class="sub-mainnavitem-1-first">
								<li class="sub-mainnavitem-1-first sub-mainnavitem-1-first-hassubs">
									<div class="sub-mainnavitem-1-first sub-mainnavitem-1-first-hassubs">Performance</div>
								</li>
								<li class="">
									<ul class="sub-mainnavitem-2">
										<li class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2 subMenuSpacerRight-nosubs"><a
											class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2-nosubs" href="#/reportawe">Reports
												(Awesomechart)</a>
										<li class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2 subMenuSpacerRight-nosubs"><a
											class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2-nosubs"
											href="https://publisher.zanox.com/publisher_stats/landingpage.html?connectid=F78BD644A51B90AB43FC&amp;report=4075&amp;publisher=446028">Gestern</a></li>
										<li class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2 subMenuSpacerRight-nosubs"><a
											class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2-nosubs"
											href="https://publisher.zanox.com/publisher_stats/landingpage.html?connectid=F78BD644A51B90AB43FC&amp;report=4082&amp;publisher=446028">Aktueller
												Monat (nach Zeit)</a></li>
										<li class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2 subMenuSpacerRight-nosubs"><a
											class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2-nosubs"
											href="https://publisher.zanox.com/publisher_stats/landingpage.html?connectid=F78BD644A51B90AB43FC&amp;report=4083&amp;publisher=446028">Aktueller
												Monat (nach Programmen)</a></li>
										<li class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2 subMenuSpacerRight-nosubs"><a
											class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2-nosubs"
											href="https://publisher.zanox.com/publisher_stats/landingpage.html?connectid=F78BD644A51B90AB43FC&amp;report=4084&amp;publisher=446028">Aktueller
												Monat (nach Werbeflächen)</a></li>
										<li class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2 subMenuSpacerRight-nosubs"><a
											class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2-nosubs"
											href="https://publisher.zanox.com/publisher_stats/landingpage.html?connectid=F78BD644A51B90AB43FC&amp;report=4085&amp;publisher=446028">Aktuelles
												Jahr (nach Zeit)</a></li>
										<li class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2 subMenuSpacerRight-nosubs"><a
											class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2-nosubs"
											href="https://publisher.zanox.com/publisher_stats/landingpage.html?connectid=F78BD644A51B90AB43FC&amp;report=4086&amp;publisher=446028">Aktuelles
												Jahr (nach Programmen)</a></li>
										<li class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2 subMenuSpacerRight-nosubs"><a
											class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2-nosubs"
											href="https://publisher.zanox.com/publisher_stats/landingpage.html?connectid=F78BD644A51B90AB43FC&amp;report=4087&amp;publisher=446028">Aktuelles
												Jahr (nach Werbeflächen)</a></li>
										<li class="sub-mainnavitem-2 sub-mainnavitem-2-nosubs"><a
											class="sub-mainnavitem-2 sub-mainnavitem-2-nosubs"
											href="https://publisher.zanox.com/publisher_stats/landingpage.html?connectid=F78BD644A51B90AB43FC&amp;report=4088&amp;publisher=446028">Währungsreport</a></li>
									</ul>
								</li>
								<li class="sub-mainnavitem-1-first sub-mainnavitem-1-first-hassubs"><div
										class="sub-mainnavitem-1-first sub-mainnavitem-1-first-hassubs">Echtzeit</div></li>
								<li class="">
									<ul class="sub-mainnavitem-2">
										<li class="sub-mainnavitem-2 sub-mainnavitem-2-nosubs"><a
											class="sub-mainnavitem-2 sub-mainnavitem-2-nosubs"
											href="https://publisher.zanox.com/realtime_stats/landingpage.html?connectid=F78BD644A51B90AB43FC&amp;publisher=446028">Heute</a></li>
									</ul>
								</li>
							</ul>
							<ul class="sub-mainnavitem-1-second">
								<li class="sub-mainnavitem-1-second sub-mainnavitem-1-second-hassubs"><div
										class="sub-mainnavitem-1-second sub-mainnavitem-1-second-hassubs">Analyse</div></li>
								<li class="">
									<ul class="sub-mainnavitem-2">
										<li class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2 subMenuSpacerRight-nosubs"><a
											class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2-nosubs"
											href="https://publisher.zanox.com/publisher_stats/landingpage.html?connectid=F78BD644A51B90AB43FC&amp;report=4089&amp;publisher=446028">Traffic-Analyse
												eCPC</a></li>
										<li class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2 subMenuSpacerRight-nosubs"><a
											class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2-nosubs"
											href="https://publisher.zanox.com/publisher_stats/landingpage.html?connectid=F78BD644A51B90AB43FC&amp;report=4090&amp;publisher=446028">Traffic-Analyse
												eCPM</a></li>
										<li class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2 subMenuSpacerRight-nosubs"><a
											class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2-nosubs"
											href="https://publisher.zanox.com/publisher_stats/landingpage.html?connectid=F78BD644A51B90AB43FC&amp;report=6060&amp;publisher=446028">Traffic-Analyse
												eCPM (TPV)</a></li>
										<li class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2 subMenuSpacerRight-nosubs"><a
											class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2-nosubs"
											href="https://publisher.zanox.com/publisher_stats/landingpage.html?connectid=F78BD644A51B90AB43FC&amp;report=4091&amp;publisher=446028">Transaktionsanalyse</a></li>
										<li class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2 subMenuSpacerRight-nosubs"><a
											class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2-nosubs"
											href="https://publisher.zanox.com/publisher_stats/landingpage.html?connectid=F78BD644A51B90AB43FC&amp;report=4094&amp;publisher=446028">Leads-Analyse</a></li>
										<li class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2 subMenuSpacerRight-nosubs"><a
											class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2-nosubs"
											href="https://publisher.zanox.com/publisher_stats/landingpage.html?connectid=F78BD644A51B90AB43FC&amp;report=4096&amp;publisher=446028">Sales-Analyse</a></li>
										<li class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2 subMenuSpacerRight-nosubs"><a
											class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2-nosubs"
											href="https://publisher.zanox.com/publisher_stats/landingpage.html?connectid=F78BD644A51B90AB43FC&amp;report=5229&amp;publisher=446028">Tägliche
												Kampagnenkontrolle</a></li>
										<li class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2 subMenuSpacerRight-nosubs"><a
											class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2-nosubs"
											href="https://publisher.zanox.com/publisher_stats/landingpage.html?connectid=F78BD644A51B90AB43FC&amp;report=4097&amp;publisher=446028">Analyse
												der Bestätigungsrate</a></li>
										<li class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2 subMenuSpacerRight-nosubs"><a
											class="sub-mainnavitem-2 subMenuSpacerRight sub-mainnavitem-2-nosubs"
											href="https://publisher.zanox.com/publisher_stats/landingpage.html?connectid=F78BD644A51B90AB43FC&amp;report=4098&amp;publisher=446028">Cash
												Flow Report</a></li>
										<li class="sub-mainnavitem-2 sub-mainnavitem-2-nosubs"><a
											class="sub-mainnavitem-2 sub-mainnavitem-2-nosubs"
											href="https://publisher.zanox.com/publisher_stats/landingpage.html?connectid=F78BD644A51B90AB43FC&amp;report=5227&amp;publisher=446028">Transaktionsstatus</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="helpnavitem mainnavitem"><a class="helpnavitem mainnavitem"
					href="http://help.zanox.com?connectid=F78BD644A51B90AB43FC&amp;LANG=de" target="_blank">Hilfe</a></li>
			</ul>
		</div>