<script language="text/javascript">

</script>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-2">
           <hr/>
          Search: <input ng-model="query" value="">
          
          Region: <select ng-model="region" ng-change="update()">
            <option value="DE">Deutschland</option>
            <option value="it">Italien</option>
          </select>
          
          Anzahl: <select ng-model="items" ng-change="update()">
            <option value="10" selected="selected">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">

			<ul class="products">
				<li ng-repeat="programItem in products.programItems.programItem" class="thumbnail"><a
					href="#/product/{{programItem['@id']}}" class="thumb"><img ng-src="{{programItem.image}}"></a> <a
					href="#/product/{{programItem['@id']}}">{{programItem.name}}</a> <a href="{{programItem.url}}">Shop</a>
					<p>{{programItem.description}}</p></li>
			</ul>
		</div>
  </div>
</div>