<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
       <hr/>
      <!--Sidebar content-->
      
      Search: <input ng-model="query" ng-change="update()" value="">
      
      Region: <select ng-model="region" ng-change="update()">
        <option value="DE">Deutschland</option>
        <option value="it">Italien</option>
      </select>
      
      Anzahl: <select ng-model="items" ng-change="update()">
        <option value="10" selected="selected">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
      </select>
      
     <!--  Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select> -->
      
      <p>Treffer: {{products.total}}</p>

    </div>
    <div class="span10">
      <!--Body content-->

      <ul class="products">
        <li ng-repeat="programItem in products.programItems.programItem" class="thumbnail">
          <a href="#/product/{{programItem['@id']}}" class="thumb"><img ng-src="{{programItem.image}}"></a>
          <a href="#/product/{{programItem['@id']}}">{{programItem.name}}</a>
          <a href="{{programItem.url}}">Shop</a>
          <p>{{programItem.description}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
