<div>

    <input ui-date name="from"></input>
    <input ui-date name="to"></input>
    
    <hichart title="Browsers stats" type="line" id='chart1' width="400" height="400" data="data"></hichart>
    
    <hichart title="Browsers stats" type="bar" id='chart2' width="400" height="400" data="data"></hichart>
    
    <hichart title="Browsers stats" type="pie" id='chart3' width="400" height="400" data="data"></hichart>
    
 <ul class="products">
        <li ng-repeat="reportItem in report.reportItems.reportItem" class="thumbnail">
          <p>{{reportItem.currency}}</p>
          <p>{{reportItem.month}}</p>
          <p>{{reportItem.total.clickCount}}</p>
        </li>
      </ul>

{{data}}
     
</div>