<div ng-controller="MyCtrl">
    <awesomechart title="Browsers stats" type="exploded pie" id='chart1' width="400" height="400" data="data"></awesomechart>
    
    <awesomechart type="pie" id='chart2' width="400" height="400" data="data">
    </awesomechart>
    
    <awesomechart type="doughnut" id='chart3' width="400" height="400" data="data">
    </awesomechart>
    
    <awesomechart type="default" id='chart4' width="400" height="400" data="data">
    </awesomechart>
    
    <awesomechart type="horizontal bars" id='chart5' width="400" height="400" data="data">
    </awesomechart>
     
</div>