/******* Main Nav ********/

#mainNav {
    background: url(../images/main_nav_bg.gif) top left repeat-x;
    margin: 0 auto;
    height: 29px;
    border: 1px solid #D6D6D6;
    border-top: 1px solid #b5b5b5;
    border-bottom: 1px solid #8e8e8e;
}

#mainNav a, #mainNav a:link, #mainNav a:hover, #mainNav a:visited {
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#mainNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#mainNav ul li.topNav {
    height: 29px;
    float: left;
    border-right: 1px solid #9d9d9d;
    position: relative;
}

#mainNav ul li a.mainNav {
    float: left;
    display: block;
    height: 23px;
    padding: 6px 10px 0;
    border-left: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
}

#mainNav ul li a.mainNav:hover {
    height: 22px;
    padding-top: 7px;
}

#mainNav ul li a.orangeSelect {
    background: #f6a650 url(../images/main_nav_select_bg.gif) top left repeat-x;
    border-left: 1px solid #f6c28b;
    border-right: 1px solid #f6c28b;
    cursor: default;
}

#mainNav ul li a.orange:hover, #mainNav ul li a.orangeSelect:hover {
    background-image: none;
    border-left: 1px solid #f6a650;
    border-right: 1px solid #f6a650;
}

#mainNav ul li a.blueSelect, #mainNav ul li#wiki a.blue, #mainNav ul li#helpVideo span.videoLink {
    background: #6d9bc9 url(../images/main_nav_select_bg_blue.gif) top left repeat-x;
    border-left: 1px solid #99b6d6;
    border-right: 1px solid #99b6d6;
}

#mainNav ul li a.blue:hover, #mainNav ul li a.blueSelect:hover, #mainNav ul li#wiki a.blue:hover, #mainNav ul li#helpVideo span.videoLink:hover {
    background-image: none;
    border-left: 1px solid #6d9bc9;
    border-right: 1px solid #6d9bc9;
}

#mainNav ul li#wiki, #mainNav ul li#helpVideo {
    border-left: 1px solid #9d9d9d
}

#mainNav ul li#wiki a {
    padding: 6px 12px 0;
}

#mainNav ul li#helpVideo span.videoLink {
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    height: 30px;
    padding: 0px 5px;
    display: inline-block;
}

#mainNav ul#navRight li {
    float: right;
}

/******* Bread crumbs ********/

.zx-header-breadcrumb-container {
    margin: 0px 0px 10px 0px;
    background-color: #E9E9E9;
    height: 20px;
    padding-left: 15px;
    padding-top: 5px;

}

.zx-header-breadcrumb-container span {
    display: inline-block;
    font-size: 10px;
}

.zx-header-breadcrumb-item {
    float: left;
}

.zx-header-breadcrumb-item-inactive {
    color: #ff7500;
}

.zx-header-breadcrumb-item-helperIcon {
    background: url("../images/icon_help.png") center no-repeat;
    width: 5px;
    height: 13px;
    float: right;
    margin-right: 10px;
    padding-right: 10px;
}

.zx-header-breadcrumb-item-active {
    color: #000000;
}

.zx-header-breadcrumb-item-separator {
    background: url("../images/small_arrow_right.png") center no-repeat;
    width: 5px;
    height: 13px;
    margin: 0px 6px 0px 7px;
}

/******* Nav One ********/

ul#navOne li:hover a {
    display: block;
}

ul#navOne li:hover a.orange, ul#navOne li:hover a.orangeSelect {
    background-color: #f6a650;
    border-left: 1px solid #f6a650;
    border-right: 1px solid #f6a650;
}

ul#navOne li .sectionNavigationDropdown {
    background: #fff5e5;
    border: 1px solid #f6a650;
    position: absolute;
    top: 29px;
    left: 0;
    z-index: 9999;
    display: none;
}

ul#navOne li:hover .sectionNavigationDropdown {
    display: block;
}

ul#navOne li ul.settingsIndex {
    float: left;
    width: 160px;
    padding: 15px 15px 5px;
}

ul#navOne li ul.settingsIndex a {
    font-size: 11px;
    font-weight: normal;
    color: #f90;
    padding-bottom: 0;
}

ul#navOne li ul.settingsIndex a:hover {
    color: #444;
}

ul#navOne li ul.settingsIndex li {
    font-weight: bold;
}

ul#navOne li ul.settingsIndex li ul {
    margin: 0 0 15px;
    padding: 0;
    overflow: hidden;
}

ul#navOne li ul.settingsIndex li ul li {
    margin-top: 5px;
}

ul#navOne .sectionNavigationDropdown {
    width: 420px;
}

ul#navOne .sectionNavigationDropdown ul li {
    float: left;
    margin-right: 6px;
}

ul#navOne .sectionNavigationDropdownul li a {
    background-image: none;
    padding: 0;
}

ul#navOne ul.settingsIndex {
    width: 190px;
}

ul.nav ul a {
    white-space: nowrap;
}
