/* Styles for zanox header component. */
/*.zxlib-gwt-header {
	
	height: 127px;}*/
.zxlib-gwt-header * {
	font-family: Verdana, Arial;
	font-size: 9px;
}

.zxlib-gwt-header-logo {
	margin-left: 20px;
	cursor: pointer;
}

.zxlib-gwt-header-logo-container {
	float: left;
	margin-bottom: 29px;
	margin-top: 20px;
}

.zxlib-gwt-header-clear {
	clear: both;
}

/* control panel with user information and program selection */
.zxlib-gwt-header-pc {
	float: right;
	margin-left: 30px;
	margin-right: 5px;
}

.zxlib-gwt-header-cp-shadow-left {
	background-image: url("images/shadow-left.png");
	background-repeat: repeat-y;
	height: 55px;
	width: 5px;
	float: left;
}

.zxlib-gwt-header-cp-content {
	float: left;
	font-size: 10px;
	min-width: 480px;
}

.zxlib-gwt-header-cp-shadow-right {
	background-image: url("images/shadow-right.png");
	background-repeat: repeat-y;
	height: 55px;
	width: 5px;
	float: left;
}

.zxlib-gwt-header-cp-shadow-bottom-center {
	background-image: url("images/shadow-bc.png");
	background-repeat: repeat-x;
	height: 5px;
}

.zxlib-gwt-header-cp-shadow-bottom-left {
	background-image: url("images/shadow-bl-corner.png");
    background-repeat: no-repeat;
	height: 5px;
}

.zxlib-gwt-header-cp-shadow-bottom-right {
	background-image: url("images/shadow-br-corner.png");
    background-repeat: no-repeat;
	height: 5px;
}

.zxlib-gwt-header-cp-content-top {
	background-color: #888;
	height: 18px;
	padding: 4px 10px 0px 5px;
}

.zxlib-gwt-header-cp-content-top div,
.zxlib-gwt-header-cp-content-top a {
	color: #fff;
	text-decoration: none;
}

.zxlib-gwt-header-cp-content-top a:hover {
	text-decoration: underline;
}

.zxlib-gwt-header-cp-content-top-left {
	margin-left: 4px;
	float: left;
	overflow: hidden;
}
.zxlib-gwt-header-cp-content-top-points {
    margin-left: -8px;
    float: left;
}
.zxlib-gwt-header-cp-content-top-right {
	float: right;
}

.zxlib-gwt-header-cp-content-top-imglang {
	float: right;
	margin-right: 2px;
}

.zxlib-gwt-header-cp-content-top-label {
	color: #e8e8e8;
	float: left;
	margin-left: 4px
}

.zxlib-gwt-header-cp-content-top-date {
	font-weight: bold;
}

.zxlib-gwt-header-cp-content-top-userlogin {
	margin-right: 10px;
	font-weight: bold;
}

.zxlib-gwt-header-cp-content-top-userlogin-longNameFix {
	white-space: nowrap;
}

.zxlib-gwt-header-cp-content-top-ln-sep {
	color: #fff;
	float: right;
	margin-left: 4px;
	margin-right: 4px
}

.zxlib-gwt-header-cp-content-top-imglang {
	float: right;
	margin-top: 2px;
	margin-right: 3px;
}

.zxlib-gwt-header-cp-content-bottom {
	background-image: url("images/control_panel_button_bg.gif");
	background-repeat: repeat-x;
	border: 1px solid #D6D6D6;
	border-top: none;
	height: 32px;
	padding: 0;
}

.zxlib-gwt-header-cp-content-bottom-ln {
	float: left;
	margin-top: 8px;
}

.zxlib-gwt-header-cp-content-bottom-ln-bold {
	font-weight: bold;
	margin-top: 8px;
	float: left;
	cursor: pointer;
}

.zxlib-gwt-header-cp-content-bottom-ln-sep {
	float: left;
}

.zxlib-gwt-header-cp-content-select {
	float: left;
	border: 0;
}
.zxlib-gwt-header-cp-content-select:hover {
	background: #F5F5F5;
	padding-top: 1px;
	height: 31px;
	border-bottom: 1px solid #ccc;
}

.zx-adv-header-mainnav-dashboard-img {
	background: url("images/user_dashboard.png") no-repeat 0px 0px !important;
	padding-left: 23px !important;
	line-height: 16px !important;
}
.zx-adv-header-mainnav-dashboard-img a {
	background-image: none !important;
	padding-left: 0px !important;
}
