.gwt-PushButton {
    color: #FFFFFF;
    cursor: pointer;
    height: 25px;
}
.gwt-PushButton .buttonLabel {
    font-weight: bold;
    padding: 6px;
    white-space: nowrap;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}
.gwt-PushButton-up-hovering {
    color: #FFFFFF;
}
.gwt-PushButton-up-disabled {
    color: #FFFFFF;
}
.gwt-PushButton-down-disabled {
    color: #FFFFFF;
}
.gwt-PushButton-up .zanoxButton_green_left {
    background: url("images/bttn_green_left.png") no-repeat;
    height: 25px;
    width: 2px;
    float:left;
}
.gwt-PushButton-up .zanoxButton_green_right {
    background: url("images/bttn_green_right.png") no-repeat;
    height: 25px;
    width: 2px;
    float:left;
}
.gwt-PushButton-up .zanoxButton_green_mid {
    background: url("images/bttn_green_mid.png") repeat-x;
    height: 25px;
    float:left;
}
.gwt-PushButton-up-hovering .zanoxButton_green_left {
    background: url("images/bttn_green_left_hover.png") no-repeat;
    height: 25px;
    width: 2px;
    float:left;
}
.gwt-PushButton-up-hovering .zanoxButton_green_right {
    background: url("images/bttn_green_right_hover.png") no-repeat;
    height: 25px;
    width: 2px;
    float:left;
}
.gwt-PushButton-up-hovering .zanoxButton_green_mid {
    background: url("images/bttn_green_mid_hover.png") repeat-x;
    height: 25px;
    float:left;
}
.gwt-PushButton-up .zanoxButton_orange_left {
    background: url("images/bttn_orange_left.png") no-repeat;
    height: 25px;
    width: 2px;
    float:left;
}
.gwt-PushButton-up .zanoxButton_orange_right {
    background: url("images/bttn_orange_right.png") no-repeat;
    height: 25px;
    width: 2px;
    float:left;
}
.gwt-PushButton-up .zanoxButton_orange_mid {
    background: url("images/bttn_orange_mid.png") repeat-x;
    height: 25px;
    float:left;
}
.gwt-PushButton-up-hovering .zanoxButton_orange_left {
    background: url("images/bttn_orange_left_hover.png") no-repeat;
    height: 25px;
    width: 2px;
    float:left;
}
.gwt-PushButton-up-hovering .zanoxButton_orange_right {
    background: url("images/bttn_orange_right_hover.png") no-repeat;
    height: 25px;
    width: 2px;
    float:left;
}
.gwt-PushButton-up-hovering .zanoxButton_orange_mid {
    background: url("images/bttn_orange_mid_hover.png") repeat-x;
    height: 25px;
    float:left;
}
