.zx-widgets-combobox {
	height: 22px;
	padding-top: 4px;
}

.zx-widgets-combobox-selected {
}

.zx-widgets-combobox-dropdown {
	border-collapse: collapse;
	border-spacing: 0px; 
}
.zx-widgets-combobox-dropdown td {
	margin: 0px;
	border: 0px;
	padding: 0px;
	width: 100%;
}

.zx-widgets-combobox-dropdown tr {
 	line-height: 9px;
}

.zx-widgets-combobox-selected {
	background-color: #FFFFFF;
	border: 1px solid #D6D6D6;
	border-right: none;
	padding: 6px 2px 0 10px;
	height: 14px;
	cursor: default;
	overflow: hidden;
	white-space: nowrap;
}

.zx-widgets-combobox-selector-image {
	cursor: pointer;
}

.zx-widgets-combobox-expand {
	background-color: #FFFFFF;
	border: 1px solid #D6D6D6;
	border-top: none;
	z-index: 1000000;
}

.zx-widgets-combobox-itemContainer {
}

.zx-widgets-combobox-item {
	cursor: default;
	padding-left: 10px;
	overflow: hidden;
	white-space: nowrap;
	height: 16px;
}

.zx-widgets-combobox-item-selected {
	background-color: #dddddd;
}

.zx-widgets-combobox-expand:hover .zx-widgets-combobox-item {
	background-color: #FFFFFF;
}

.zx-widgets-combobox-expand:hover .zx-widgets-combobox-item:hover {
	background-color: #dddddd;
}