body {
    font-size: 12px;
    font-family: Arial,Verdana,sans-serif;
}

.zx-collapseContainer {
	border: 1px solid #D6D6D6;
	width: 250px;
	margin-bottom: 10px;
}

.zx-collapseContainer-collapsed {
	border-top: 1px solid #D6D6D6;
	border-left: 1px solid #D6D6D6;
	border-right: 1px solid #D6D6D6;
	border-bottom: 0;
	width: 250px;
	margin-bottom: 10px;
}

.zx-collapseContainer-header {
	padding-top: 9px;
	padding-left: 8px;
	padding-right: 8px;
	margin: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #D6D6D6;
	height: 25px;
	background: url('images/bg_collapseContainer_header.png');
	background-repeat: repeat-x;
}

.zx-collapseContainer-header:hover{
	background: none;
	background-color: #D6D6D6;
	cursor: pointer;
}

.zx-collapseContainer-content {
	
}

.zx-collapseContainer-header-icon {
	float: left;
}

.zx-collapseContainer-header-headline {
	float: left;
	margin-left: 6px;
	font-size: 14px;
	font-weight: bold;
}

.zx-clear {
	clear: both;
}

.zx-collapseBox {
    border: 0;
    padding: 0;
    margin: 0;
}

.zx-sortByBox {
	border: 0;
    padding: 0;
    margin: 0;
}

.zx-collapseBox-header {
    background: url('images/bg_collapseBox_header.png');
    background-repeat: repeat-x;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #D6D6D6;
    height: 26px;
    width: 250px;
    padding: 0;
}

.zx-sortByBox-header {
    background-color: #f5f5f5;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #D6D6D6;
    height: 30px;
    width: 250px;
    padding: 0;
}

.zx-collapseBox-header-collapsed {
    background: url('images/bg_collapseBox_header.png');
    background-repeat: repeat-x;
    border: 0;
    height: 26px;
    width: 250px;
    padding: 0;
}

.zx-collapseBox-header-expand {
    float: left;
    margin-left: 9px;
    margin-top: 7px;
    cursor: pointer;
}

.zx-collapseBox-header-headline {
    margin-left: 6px;
    margin-top: 8px;
    float: left;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.zx-sortByBox-header-headline {
    margin-left: 6px;
    margin-top: 8px;
    float: left;
    font-size: 12px;
}

.zx-sortByBox-combobox {
	padding-right: 5px;
	padding-left: 5px;
}


.zx-listItem {
    color: #fc9900;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #D6D6D6;
    padding: 5px 0px 2px 10px;
}

.zx-listItem-last {
    border: 0;
}

.zx-listItem:hover{
	color: #000;
}

.zx-listItem-last:hover{
	color: #000;
}

.odd {
    background-color: #fff;   
}

.even {
    background-color: #f5f5f5;
}