.errorWindow {
	background: url("images/transparent_bg_20.png");
	padding:16px;
}
.errorWindow table{margin:0;padding:0;background:#ffffff;}
.errorWindow .errorWindowHeaderBar{background:#f1d6d4;height:30px;}
.errorWindow .iconContainer{margin:6px 0 0 10px;}
.errorWindow .messageContainer{margin:6px 0 10px 10px;}
.errorWindow .buttonContainer{margin:0 10px 10px 0;text-align:right;}

.errorWindow .Caption {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("images/window_T.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat-x;
    background-size: auto auto;
    color: #4C4C4C;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    padding-bottom: 4px;
    padding-left: 1px;
    padding-right: 4px;
    padding-top: 6px;
	background:red;
	background:none;
}
.errorWindow .dialogTop {
	display:none;
}

.errorWindow .dialogContent {
	font-size:11px;
	color:#cc3333;
	background:green;
	background:none;
}
.errorWindow .dialogMiddleCenter {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: white;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    padding: 0;
    background:blue;
    background:none;
}
.errorWindow .dialogBottomCenter {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("images/window_B.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat-x;
    background-size: auto auto;
    background:orange;
    background:none;
    display:none;
}
.errorWindow .dialogMiddleLeft {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("images/window_L.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat-y;
    background-size: auto auto;
    width: 6px;
    background:magenta;
    background:none;
    display:none;
}
.errorWindow .dialogMiddleRight {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("images/window_R.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat-y;
    background-size: auto auto;
    width: 6px;
    background:cyan;
    background:none;
    display:none;
}
.errorWindow .dialogTopLeftInner {
    width: 5px;
    display:none;
}
.errorWindow .dialogTopRightInner {
    width: 8px;
    display:none;
}
.errorWindow .dialogBottom {
    height: 6px;
    display:none;
}
.errorWindow .dialogBottomLeftInner {
    height: 8px;
    width: 5px;
    display:none;
}
.errorWindow .dialogBottomRightInner {
    height: 8px;
    width: 5px;
    display:none;
}
.errorWindow .dialogTopLeft {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("images/window_TL.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    background:none;
    display:none;
}
.errorWindow .dialogTopRight {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("images/window_TR.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 6px;
    background:none;
    display:none;
}
.errorWindow .dialogBottomLeft {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("images/window_BL.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    background:none;
    display:none;
}
.errorWindow .dialogBottomRight {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("images/window_BR.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    background:none;
    display:none;
}
html > body .errorWindow {
    z-index: 2000000000;
}
.errorWindow .dialogTop {
    height: 15px;
}
* html .errorWindow .dialogTopLeftInner {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 5px;
    display:none;
}
* html .errorWindow .dialogTopRightInner {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 8px;
    display:none;
}
* html .errorWindow .dialogBottomLeftInner {
    height: 8px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 5px;
    display:none;
}
* html .errorWindow .dialogBottomRightInner {
    height: 8px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 8px;
    display:none;
}
.cw-DialogBox {
}
.errorWindowCloseButton {
    color:white;
    background-image: url("../error_window/images/button_error_ok.png");
    width:37px;
    height: 20px;
    border:0;
    font-weight:bold;
}
.errorWindowCloseButton:hover {
    color:white;
    background-image: url("../error_window/images/button_error_ok.png");
    width:37px;
    height: 20px;
    border:0;
    font-weight:bold;
}
.errorWindowDescription {
	margin:10px;
	margin-top:0;
}