/*-------------------------------------------
 -- html element classes
 -------------------------------------------*/
* { /* global reset of paddings and margins for all HTML elements */
	margin: 0px;
	padding: 0px;
}

html { /* fixes body 100% height problems in some browsers */
	height: 100%;
}

body { /* fix for rounding errors when scaling font sizes in older versions of Opera browser */
	height: 100%;
	font-size: 100.01%;
}

option { /* correction: margin/padding reset caused too small select boxes. */
	padding: 0px 5px;
}

fieldset,img { /* clear borders for <fieldset> and <img> elements */
	border: none;
}

/*-------------------------------------------
 -- float clearing classes
 -------------------------------------------*/
.clearfix { /* clearfix container must be display:block */
	display: block;
}

.clearfix:after { /* clearing floats without extra empty div */
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#ie6 .clearfix { /* clearfix method in IE6 */
	display: block;
	height: 1%;
}

#ie7 .clearfix { /* clearfix method in IE7 */
	display: inline-block;
}

.floatbox { /* clearing floats in floats without affecting surrounding container */
	overflow: hidden;
}

#ie6 .floatbox { /* adjustment of .floatbox class for IE */
	width: 100%;
}

.clear { /* manually clearing with dummy html element, occupies no space in page */
	clear: both;
	font-size: 1px;
	overflow: hidden;
	line-height: 0px;
}

/*-------------------------------------------
 -- misc classes
 -------------------------------------------*/
.hidden { /* hide content from page */
	display: none !important;
}

.fakeLink { /* make element look like an link */
	cursor: pointer;
}

#ie6 .fakeLink { /* make element look like an link */
	cursor: hand;
}

.zIndexFix { /* adds high zindex to fix some z-index browser issues */
	z-index: 1000;
}

#ie6 .layoutFix { /* apply "hasLayout" to element, see http://www.satzansatz.de/cssd/onhavinglayout.html */
	height: 0;
}

#ie7 .layoutFix { /* apply "hasLayout" to element, see http://www.satzansatz.de/cssd/onhavinglayout.html */
	zoom: 1;
}

.inlineBlock
{
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:middle;
}

#ie6 .inlineBlock
{
	height: 0;
	display:inline;	
}

#ie7 .inlineBlock 
{
	zoom:1;
	display:inline;	
}
