.zx-widget-base-Widget {
    margin: 10px;
    min-height: 40px;
}

.zx-widget-base-LoadingWidget-indicator {
    margin: 10px auto;
    width: 16px;
}

.zx-widget-base-LoadingWidget-text {
    text-align: center;
}

.zx-widget-base-InfoWidget-text {
    margin: 5px;
    font-weight: bold;
    color: #888;
    overflow: hidden;
}

.zx-widget-base-InfoWidget-text-error {
    color: red;
}

.zx-widget-base-InfoWidget-text-warning {
    color: orange;
}

.zx-widget-base-InfoWidget-text-info {
    color: green;
}
